/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 1280px) {
	.container { width: 748px;  }
	.menu_container ul li { margin-left: 15px; }
	#slideshow_cont {  width: 748px; height: 313px; }
	.slide_box img, .slide_box iframe { width: 748px; height: 313px;  }
	
	.home_box { float: left; width: 249px; margin-right: 0px; }
	.home_box img,
	.home_box iframe { width: 249px; height: 150px; }
	.home_box_last { margin-right: 0; }
	
	.home_wide_box_img { margin-right: 15px; }
	.home_wide_box_img img,
	.home_wide_box_img iframe { width: 310px; height: 200px; }	
	
	.home_wide_box_right { width: 418px; }
	.home_wide_box_right .left { width: 345px; }
	.home_wide_box_right a.right { height: 200px; }
	
	.blog_box img, .blog_box iframe { width: 530px; height: 260px; }
	.blog_box { padding-bottom: 5px; margin-bottom: 20px; border-bottom: 1px solid #ccc; }
	.blog_box img { width: 530px; height: 260px; border-radius: 3px; }
.blog_box iframe { width: 530px; height: 260px; }

#content_left { float: left; width: 530px; line-height: 19px; margin-bottom: 15px; font-size: 20px; font-family: 'Raleway', sans-serif; font-style: normal; font-weight: normal;  }
	
	.single_left { width: 536px; }
	.single_inside_content img { max-width: 100%; height: inherit; }
	.single_inside_content iframe { max-width: 100%; }
	
	#sidebar { width: 175px; }
	
	.footer_box { width: 172px; margin-left: 20px; }
	
}
/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) { 
	.container { width: 300px; }
	
	#header { position: static; height: auto; z-index: 99;}
	
	.menu_container ul li { margin-left: 15px; }
	#slideshow_cont {  width: 300px; height: 140px; }
	.slide_box img, .slide_box iframe { width: 300px; height: 140px; }
	
	#main_cont { padding-top: 35px; }
	.header_search_cont { display: none; }
	.header_right { float: right;  }	
	.home_box { float: none; width: 300px; margin-right: 0px; }
	.home_box img,
	.home_box iframe { width: 300px; height: 175px; }
	.home_box_last { margin-right: 0; }
	
	.home_wide_box_img { margin-right: 0px; float: none; margin-bottom: 10px; }
	.home_wide_box_img img,
	.home_wide_box_img iframe { width: 300px; height: 175px; }	
	
	
.blog_box img , .blog_box iframe{ width: 290px; height: 140px; }
#content_left { float: left; width: 290px; line-height: 17px; margin-bottom: 15px; font-size: 14px; font-family: 'Raleway', sans-serif; font-style: normal; font-weight: normal;  }	
	
	.home_wide_box_right { width: 300px; float: none; position: relative; }
	.home_wide_box_right .left { width: 250px; }
	.home_wide_box_right a.right { height: 100%; position: absolute; top: 0; right: 0; }	
	
	.single_left { width: 300px; float: none; margin-bottom: 25px; }
	.single_inside_content img { width: 300px; height: 167p }
	.single_inside_content iframe { width: 300px; height: 167px; }
	#commentform textarea { max-width: 280px; }		
	
	#sidebar { width: 300px; float: none; }	
	
	.footer_box { width: 300px; margin-left: 0px; margin-bottom: 25px; }
	
}